.ropeproject
*.swp
*.pyc
*.map
*.idea
*.svg
*.csv
*.pdf
*.log
*.un~
apps/at_auth/migrations/*
apps/http_tools/migrations/*
apps/purchase_order/migrations/*
apps/product_center/migrations/*
apps/supplier/migrations/*
apps/wms_center/migrations/*
venv/
env/
logs/
.vscode/
*.pstats

gd.sh
.DS_Store
