{% extends "../base.html" %}
{% load static %}
<!DOCTYPE html>

{% block body %}
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body">
                    <div class="row">
                        <div class="col-md-12">
                            <body text="black">
                                <h2 class="panel-title">闲置库存绑定结果</h2>
                                <h1>
                                    {{result}}
                                </h1>
                            </body>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}